<div class="col-lg-12 col-md-12">
    <div class="single_jobs white-bg d-flex justify-content-between">
        <div class="jobs_left d-flex align-items-center">
            

            <div class="thumb">
                {% if advert.category.icon %}
                <img src="{{ advert.category.icon.url }}" alt="" >
                {% endif %}
            </div>
            
            <div class="jobs_conetent">
                
                <a href="{{ advert.get_absolute_url }}"><h4>{{ advert.subject }}</h4></a>
                
                <div class="links_locat d-flex align-items-center">
                    <div class="location">
                        <p> <i class="fa fa-map-marker"></i> {{ advert.location }}</p>
                    </div>
                    <div class="location">
                        <p> <i class="fa fa-clock-o"></i> {{ advert.created|timesince }} тому</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="jobs_right">
            <div class="apply_now">
                <a href="{{ advert.get_absolute_url }}" class="boxed-btn3">Детально</a>
            </div>
            <div class="date">
                <p>Додано: {{ advert.created|date:'d.m.Y' }}</p>
            </div>
        </div>
    </div>
</div>