{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ detail.subject }} | {{ block.super }}
{% endblock %}
{% block content %}

<section class="blog_area single-post-area section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 posts-list">
            
           
             <div class="single-post">
                <div class="feature-img">
                     {% if detail.images %}
                     <div class="blog_item_img">
                        <img class="card-img rounded-0" src="{{ detail.images.url }}" alt="">
                        
                     </div>
                     {% else %}
                     <div class="blog_item_img">
                        <img class="card-img rounded-0" src="{% static 'img/photo_background.jpg' %}" alt="">
                        
                     </div>
                     {% endif %}
                </div>
                <div class="blog_details">
                   <h2>{{ detail.subject }}</h2>
                   <ul class="blog-info-link mt-3 mb-4">
                     {% if detail.brend %}
                      <li><i class="fa fa-user"></i> {{ detail.brend }}</li>
                      {% endif %}
                      <li><i class="fa fa-clock-o"></i> {{ detail.created }} </li>
                   </ul>
                   
                   <p class="">
                     {{ detail.description|safe }}
                   </p>
                   <div class="quote-wrapper">
                     
                     <ul>
                        <li>ім'я: {{ detail.name }}
                        </li>
                        <li>email: {{ detail.email }}</li>
                        <li>телефон: {{ detail.telefon }}</li>
                        <li>адреса: {{ detail.location }}</li>
                     </ul>
                      
                   </div>
                   
                </div>
             </div>
              <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                   {% comment %} <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                      people like this</p> {% endcomment %}
                   <div class="col-sm-0 text-center my-2 my-sm-0">
                     {% if request.user == detail.user %}
                        <a class="genric-btn success-border small" href="{% url 'service_edit' slug=detail.slug %}"> <img src="{% static 'img/icons8.png' %}" width=18 alt="редагувати"> 
                        </a> 
                        <a class="genric-btn danger-border small" href="{% url 'service_delete' slug=detail.slug %}"> <img src="{% static 'img/tresh.png' %}" width=18 alt="видалити"> 
                        </a>
                     {% endif %}
                      
                   </div>
                   <ul class="social-icons">
                      <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      
                   </ul>
                </div>
               </div>
                {% comment %}<div class="navigation-area">
                   <div class="row">
                      <div
                         class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                         <div class="thumb">
                            <a href="#">
                               <img class="img-fluid" src="img/post/preview.png" alt="">
                            </a>
                         </div>
                         <div class="arrow">
                            <a href="#">
                               <span class="lnr text-white ti-arrow-left"></span>
                            </a>
                         </div>
                         <div class="detials">
                            <p>Prev Post</p>
                            <a href="#">
                               <h4>Space The Final Frontier</h4>
                            </a>
                         </div>
                      </div>
                      <div
                         class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                         <div class="detials">
                            <p>Next Post</p>
                            <a href="#">
                               <h4>Telescopes 101</h4>
                            </a>
                         </div>
                         <div class="arrow">
                            <a href="#">
                               <span class="lnr text-white ti-arrow-right"></span>
                            </a>
                         </div>
                         <div class="thumb">
                            <a href="#">
                               <img class="img-fluid" src="img/post/next.png" alt="">
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div> 
             <div class="blog-author">
                <div class="media align-items-center">
                   <img src="img/blog/author.png" alt="">
                   <div class="media-body">
                      <a href="#">
                         <h4>Harvard milan</h4>
                      </a>
                      <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                         our dominion twon Second divided from</p>
                   </div>
                </div>
             </div>{% endcomment %}
             <div class="comments-area">
                <h4>Відгуки</h4>
                {% for coment in coments %}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           
                           <div class="desc">
                              <p class="comment">
                                 {{ coment.coment }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       {{ coment.user }}
                                    </h5>
                                    <p class="date">{{ coment.created }}</p>
                                 </div>
                                 {% comment %} <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div> {% endcomment %}
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
                   {% comment %} <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{% static '' %}" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{ coment.coment }}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       {{ coment.user }}
                                    </h5>
                                    <p class="date">{{ coment.created }}</p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div>
                              </div>
                           </div>
                        </div>    
                   </div> {% endcomment %}
                  {% endfor %} 
             </div>
             {% if request.user.is_authenticated %}
             <div class="comment-form">
                <h4>Залишити відгук</h4>
                <form class="form-contact comment_form" action="#" method="post", enctype="multipart/form-data">
                         <div class="form-group">
                           {% csrf_token %}
                           {{ form.as_p }}
                         </div>
                   <div class="form-group">
                      <button type="submit" class="button button-contactForm btn_1 boxed-btn">Відправити</button>
                   </div>
                </form>
             </div>
             {% endif %}
          </div>
          
       </div>
    </div>
 </section>


{% endblock %}