{% extends 'base.html' %}
{% load static %}
{% block title %}
Редагування | {{ post.subject }} | {{ block.super }}
{% endblock %}
{% block content %}

<section class="sample-text-area">
    <div class="container box_1170">
        <div class="col-lg-8">
                
            
                <h3 class="text-heading">Редагувати послугу</h3>
            
            <form action="{% url 'service_edit' slug=post.slug %}" method="post", enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <div class="d-none d-lg-block">
                <button class="boxed-btn3" type="submit">Вперед</button>
                </div>
            </form> 
        </div> 
    </div>
</section>

{% endblock %}