{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ detail.subject }} | {{ block.super }}
{% endblock %}
{% block content %}

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="thumb">
                                {% if detail.category.icon %}
                                <img src="{{ detail.category.icon.url }}" alt="" >
                                {% endif %}
                            </div>
                            <div class="jobs_conetent">
                                <h4>{{ detail.subject }}</h4>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> <i class="fa fa-map-marker"></i> {{ detail.location }}</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-clock-o"></i>{{ detail.created|timesince }} тому</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% if request.user == detail.user %}
                        <div class="jobs_right">
                            <div class="apply_now">
                                <a class="heart_mark" href="{% url 'advert_edit' slug=detail.slug %}"> <img src="{% static 'img/icons8.png' %}" width=18 alt="редагувати"> 
                                </a> 
                                <a class="heart_mark" href="{% url 'advert_delete' slug=detail.slug %}"> <img src="{% static 'img/tresh.png' %}" width=18 alt="видалити"> 
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Опис:</h4>
                        <p>{{ detail.description }}</p>
                    </div>
                    {% if detail.images %}
                    <div class="single_wrap">
                        <h4>Фото:</h4>    
                        <img src="{{ detail.images.url }}" alt="" width=650>
                    </div>
                    {% else %}
                    <div class="single_wrap">
                        <h4>Фото відсутнє:</h4>    
                        <img src="{% static 'img/photo_background.jpg' %}" alt="" width=650>
                    </div>
                    {% endif %}
                    {% if detail.price %}
                    <div class="single_wrap">
                        <h4>Ціна:</h4>
                        <p>{{ detail.price }}</p>
                    </div>
                    {% endif %}
                    <div class="single_wrap">
                        <h4>Дані для зв'язку:</h4>
                        <ul>
                            <li>ім'я: {{ detail.name }}
                            </li>
                            <li>email: {{ detail.email }}</li>
                            <li>телефон: {{ detail.telefon }}</li>
                        </ul>
                    </div>
                    
                    
                </div>
                {% comment %} <div class="apply_job_form white-bg">
                    <h4>Apply for the job</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input_field">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input_field">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input_field">
                                    <input type="text" placeholder="Website/Portfolio link">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                                      <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input_field">
                                    <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> {% endcomment %}
            </div> 
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>Додаткові дані</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Дата публікації:  {{ detail.created|date:'d.m.Y' }}</li>
                            <li>Тип об'яви:  {{ detail.types_ad }}</li>
                            <li>Стан товару:  {{ detail.types_pr }}</li>
                            <li>Хто додав:  {{ detail.user }}</li>
                            <li>Локація:   {{ detail.location }}</li>
                        </ul>
                    </div>
                </div>
                <div class="share_wrap d-flex">
                    <span>Share at:</span>
                    <ul>
                        <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-telegram"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>



{% endblock %}