{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ detail.subject }} | {{ block.super }}
{% endblock %}
{% block content %}

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="thumb">
                                <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                            </div>
                            <div class="jobs_conetent">
                                <a href="#"><h4>{{ detail.subject }}</h4></a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-clock-o"></i>{{ detail.created|timesince }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobs_right">
                            <div class="apply_now">
                                <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Опис:</h4>
                        <p>{{ detail.description }}</p>
                    </div>
                    <div class="single_wrap">
                        <h4>Фото</h4>
                        {% if detail.images %}
                            <img src="{{ detail.images.url }}" alt="" >
                        {% endif %}
                    </div>
                    <div class="single_wrap">
                        <h4>Ціна:</h4>
                        <p>{{ detail.price }}</p>
                    </div>
                    <div class="single_wrap">
                        <h4>Дані для зв'язку:</h4>
                        <ul>
                            <li>{{ detail.name }}
                            </li>
                            <li>{{ detail.email }}</li>
                            <li>{{ detail.telefon }}</li>
                        </ul>
                    </div>
                    
                    
                </div>
                {% comment %} <div class="apply_job_form white-bg">
                    <h4>Apply for the job</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input_field">
                                    <input type="text" placeholder="Your name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input_field">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input_field">
                                    <input type="text" placeholder="Website/Portfolio link">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                                      <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
                                    </div>
                                  </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input_field">
                                    <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> {% endcomment %}
            </div> 
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>Додаткові дані</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Дата публікації:  {{ detail.created|date:'d.m.Y' }}</li>
                            <li>Тип об'яви:  {{ detail.types_ad }}</li>
                            <li>Стан товару:  {{ detail.types_pr }}</li>
                            <li>Хто додав:  {{ detail.user }}</li>
                            <li>Локація:   {{ detail.location }}</li>
                        </ul>
                    </div>
                </div>
                <div class="share_wrap d-flex">
                    <span>Share at:</span>
                    <ul>
                        <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                        <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                    </ul>
                </div>
                <div class="job_location_wrap">
                    <div class="job_lok_inner">
                        <div id="map" style="height: 200px;"></div>
                        <script>
                          function initMap() {
                            var uluru = {lat: -25.363, lng: 131.044};
                            var grayStyles = [
                              {
                                featureType: "all",
                                stylers: [
                                  { saturation: -90 },
                                  { lightness: 50 }
                                ]
                              },
                              {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
                            ];
                            var map = new google.maps.Map(document.getElementById('map'), {
                              center: {lat: -31.197, lng: 150.744},
                              zoom: 9,
                              styles: grayStyles,
                              scrollwheel:  false
                            });
                          }
                          
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>
                        
                      </div>
                </div> 
            </div>
        </div>
    </div>
</div>



{% endblock %}