{% extends 'base.html' %}
{% load static %}

{% block title %}
    Гловна |{{ block.super }}
{% endblock %}
    
{% block content %}

<!-- catagory_area_start  -->
<div class="popular_catagory_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title mb-40">
                    <h3>Категорії</h3>
                </div>
            </div>
        </div>
        <div class="row">


            {% for cat in cats %}
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_catagory">
                    
                    <a href="{% url 'category' cat.pk %}"><h4>{{ cat.name }}</h4></a>
                    <p><span>{{ cat.advert__count }}</span></p>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>
<!-- catagory_area_finish  -->

<!-- job_listing_area_start  -->
<div class="job_listing_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section_title">
                    <h3>Останні об'яви</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="brouse_job text-right">
                    <a href="{% url 'advert' %}" class="boxed-btn4">Всі об'яви</a>
                </div>
            </div>
        </div>
        <div class="job_lists">
            <div class="row">

                {% for advert in adverts %}

                
                {%  include 'advert/inc/advert_card_templates.html' %}

                {% endfor %} 
            </div>
        </div>
    </div>
</div>                
<!-- job_listing_area_finish -->
{% endblock %}
