{% extends 'base.html' %}
{% load static %}

{% block title %}
    Гловна |{{ block.super }}
{% endblock %}
    
{% block content %}

<!-- catagory_area_start  -->
<div class="popular_catagory_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title mb-40">
                    <h3>Категорії об'яв</h3>
                </div>
            </div>
        </div>
        <div class="row">


            {% for cat in cats %}
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_catagory">
                    <div class="thumb">
                        {% if cat.icon %}
                            <img src="{{ cat.icon.url }}" alt="" >
                        {% endif %}
                    </div>
                    <a  href="{% url 'category' cat.pk %}"><h4>{{ cat.name }}</h4></a>
                    <p><span>{{ cat.advert__count }}</span></p>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>
<!-- catagory_area_finish  -->

<!-- job_listing_area_start  -->
<div class="job_listing_area">
    <div class="container">
        {% comment %} <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section_title">
                    <h3>Останні об'яви</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="brouse_job text-right">
                    <a href="{% url 'advert' %}" class="boxed-btn4">Всі об'яви</a>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="col-lg-12">
            <div class="section_title text-center mb-40">
                <h3>Останні об'яви</h3>
                <div class="brouse_job text-right">
                    <a href="{% url 'advert' %}" class="boxed-btn4">Всі об'яви</a>
                </div>
            </div>
            
        </div>

        <div class="job_lists">
            <div class="row">

                {% for advert in adverts %}

                
                {%  include 'advert/inc/advert_card_templates.html' %}

                {% endfor %} 
            </div>
        </div>
    </div>
</div>                
<!-- job_listing_area_finish -->

<div class="top_companies_area">
    <div class="container">
        <div class="row align-items-center mb-40">
            <div class="col-lg-6 col-md-6">
                <div class="section_title">
                    <h3>Категорії послуг</h3>
                </div>
            </div>
            
        </div>
        <div class="row">

            {% for cat_serv in cats_serv %}
            <div class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_company">
                    <div class="thumb">
                        {% if cat_serv.icon %}
                            <img src="{{ cat_serv.icon.url }}" alt="" >
                        {% endif %}
                    </div>
                    <a href="{% url 'category_service' cat_serv.pk %}"><h3>{{ cat_serv.name }}</h3></a>
                    <p> <span>{{cat_serv.service__count}}</span> Доступні послуги</p>
                </div>
            </div>
            {% endfor %}

           
        </div>
    </div>
</div>


<div class="featured_candidates_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-40">
                    <h3>Популярні послуги</h3>
                    <div class="brouse_job text-right">
                        <a href="{% url 'service' %}" class="boxed-btn4">Більше послуг</a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="candidate_active owl-carousel">
                    {% for service in services %}
                    <div class="single_candidates text-center">
                        <div class="thumb">
                            <!--<img src="img/candiateds/1.png" alt="">-->
                            {% if service.images %}
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{ service.images.url }}" alt="">
                                
                            </div>
                            {% else %}
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'img/photo_background.jpg' %}" alt="">
                                
                            </div>
                            {% endif %}
                        </div>
                        <a href="{{ service.get_absolute_url }}"><h4>{{ service.subject }}</h4></a>
                        <p>{{ service.category }}</p>
                    </div>
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
